@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Zilla+Slab:ital@0;1&display=swap');

body{
    font-family: 'Zilla Slab', serif;
        background-color: #1E1E1E;
        color: whitesmoke;
}
    
h1{
    font-family: 'Shrikhand', cursive;
}
