@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Zilla+Slab:ital,wght@0,400;0,600;1,400&display=swap');

body{
    font-family: 'Zilla Slab', serif;
    background-color: #1E1E1E;
    color: whitesmoke;
    font-size: 20pt;
}

section{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    grid-auto-flow: dense;
}

header{
    display: flex;
    align-items: center;
}

h1{
    font-family: 'Shrikhand', cursive;
    font-size: 50pt;
    line-height: 0px;
}

h2{
    font-size: 25pt;
    line-height: 40px;
    font-weight: 100;
    font-style: normal;
}

.caption{
   font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    color: blue;
}

a.special{
    color: #1E1E1E;
}


.back{
    grid-column: 2 / span 1;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.next{
    grid-column: 9 / span 1;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}


.mainpage{
    background-image: url(../img/folder_bgimg_main-01.png);
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.maintitle{
    padding-top: 450px;
    grid-column: 2 / span 8;
    text-align: left;
}

.submaintitle{
    padding-top: 65px;
    grid-column: 7 / span 3;
    text-align: center;
}

#instruct{
    grid-column: 4 / span 4;
    font-size: 45px;
    text-align: center;
    padding-bottom: 50px;
}

#bigtitle{
    font-size: 100px;
    line-height: 0px;
}

#bigsubtitle{
    font-size: 65px;
    line-height: 0px;
}

#titlelink{
    font-size: 45px;
    line-height: 0px;
    text-decoration: none;
}

#warning{
    color: red;
}

.intro{
    grid-column: 5 / span 4;
    padding-top: 300px;
}

.entry{
    grid-column: 3 / span 6;
}

.portrait{
    grid-column: 3 / span 2;
    padding-top: 250px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.james{
    background-image: url(../img/bgimg_forest-02.png);
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sarah{
    background-image: url(../img/bgimg_lav-03.png);
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #7D6D9E;
}

#lav_clue{
    color: #7D6D9E;
}

#lav_clue:hover{
    color: #FABE24;
}

.spencer{
    background-image: url(../img/bgimg_navy-04.png);
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jake{
    background-image: url(../img/bgimg_turquoise-05.png);
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

#tur_clue{
    background-color: #1AA796;
    color: #1AA796;
}

#tur_clue:hover{
    color: #0E3960;
}

.sawyer{
    background-image: url(../img/bgimg_green-06.png);
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sawyer_portrait{
    grid-column: 3 / span 2;
    padding-top: 250px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sawyer_portrait:hover{
    padding-top: 250px;
    background-image: url(img/pigpen-01.png);
    background-size: 90%;
}

#sawyer_portrait:hover img{
    display: none;
}

#pigpen{
    grid-column: 3 / span 6;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fake_ally{
    background-image: url(../img/bgimg_white-07.png);
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #1E1E1E;
}

.ally{
    background-image: url(img/folder_bgimg_blue-09.png);
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

#white_clue{
    color: rgb(230, 230, 230);
}

.endpage{
    background-image: url(img/folder_bgimg_end-08.png);
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

#hidden{
    color: #1E1E1E;
}

#james_eyes{
    grid-column: 3 / span 2;
    padding-top: 100px;
    padding-bottom: 20px;
}

#james_hover:hover{
    border-width: 5px;
    border-color: #467B1D;
    border-style: solid;
}

#sarah_eyes{
    grid-column: 5 / span 2;
    padding-top: 100px;
    padding-bottom: 20px;
}

#sarah_hover:hover{
    border-width: 5px;
    border-color: #7D6D9E;
    border-style: solid;
}


#spencer_eyes{
    grid-column: 7 / span 2;
    padding-top: 100px;
    padding-bottom: 20px;
}

#spencer_hover:hover{
    border-width: 5px;
    border-color: #0E3960;
    border-style: solid;
}

#jake_eyes{
    grid-column: 4 / span 2;
}

#jake_hover:hover{
    border-width: 5px;
    border-color: #1AA796;
    border-style: solid;
}

#sawyer_eyes{
    grid-column: 6 / span 2;
}

#sawyer_hover:hover{
    border-width: 5px;
    border-color: #91C16A;
    border-style: solid;
}
